*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #EEF9BF;   

    font-family: 'Roboto', sans-serif;
}
.title{
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;

    margin-top: 40px;
    margin-bottom: 40px;

    text-align: center;
}
main{
    margin-right: 120px;
    margin-left: 120px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.card{
    width: 117px;
    height: 146px;

    margin-top: 7px;    

    position: relative;
}
.card:hover{
    cursor: pointer;
}
.front-face{
    width: 100%;
    height: 100%;

    background-color: #A7E9AF;

    border-radius: 10px;

    box-shadow: 0px 4px 8px 0px #00000040;

    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;

    transform: rotateY(180deg);
}
.back-face{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #A7E9AF;

    border-radius: 10px;

    box-shadow: 0px 4px 8px 0px #00000040;
    
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}
.front-face img, .back-face img{
    width: 100px;
    height: 100px;
}
.selected div:first-child, .match div:first-child{
    transform: rotateY(0deg);
}
.selected div:nth-child(2), .match div:nth-child(2){
    transform: rotateY(-180deg);
}
.clock{
    width: 150px;
    height: 80px;
    background-color: #75B79E;

    border-radius: 5px;

    box-shadow: 0px 4px 8px 0px #00000040;

    position: absolute;
    top: 20PX;
    right: 30PX;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    color: #d42222;
    font-size: 30px;
    font-weight: 500;
}

@media (max-width: 450px) {
    .title{
        font-size: 36px;
    }
    main{
        margin-left: 100px;
        margin-right: 100px;
    }
    .clock{
        width: 95px;
        height: 50px;

        gap: 2px;

        position: fixed;
        top: auto;
        right: 0;
        bottom: 0;

        font-size: 20px;
    }
    
}