*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #EEF9BF;   

    font-family: 'Roboto', sans-serif;
}
.title{
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;

    margin-top: 40px;
    margin-bottom: 40px;

    text-align: center;
}
main{
    margin-right: 120px;
    margin-left: 120px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 34px;
}
.card{
    width: 117px;
    height: 146px;

    margin-top: 7px;

    

    position: relative;
}
.card:hover{
    cursor: pointer;
}
.front-face{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    background-color: #A7E9AF;

    border-radius: 5px;
    
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    
}
.front-face img{
    width: 100px;
    height: 100px;
}
.back-face{
    width: 100%;
    height: 100%;

    background-color: blueviolet;

    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;

    transform: rotateY(180deg);
}
.back-face img{
    width: 100px;
    height: 100px;
}
.selected div:first-child, .match div:first-child{
    transform: rotateY(-180deg);
}
.selected div:nth-child(2), .match div:nth-child(2){
    transform: rotateY(0deg);
}

@media (max-width: 450px) {
    .title{
        font-size: 36px;
    }
    main{
        margin-left: 100px;
        margin-right: 100px;
    }
    
}